.nav-item .nav-link{
  color: black;
}
.nav-item .nav-link:hover{
  color: grey
}
.logo{
  width: 200px;

}
p{
  font-weight: 100;
  font-size: 14px;
}
.Aragon-section{
  padding-top: 15px;
}
h6{
  padding-right: 9px;
  padding-top: 6px
}
.fa-cart-shopping:hover{
  color: gray;

}
.aragon-pic{

}
.boski-pic{
  
}
.subscription{
  text-align: center;
}
.footer-section{
  padding-top: 10px;
  background-color: #EDEBE6;
  margin-top: 20px;
}
.footer-section li {
  list-style: none;
  color: black;
}
.footer-section a{
  color: black;
}
.custom-hr {
  border: 1px solid black; /* Example border style */
}